.wrapper {
   background: none ;
   border: none;
   cursor: pointer;
   transition: 0.2s;
   border-radius: 20%;
}

.wrapper:hover {
   scale: 1.1;
}

.wrapper:active {
   background-color: aliceblue;
}

.wrapper img {
   width: 30px;
}