.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  width: 90vw;
}

@media (min-width: 600px) {
  .modal__content {
    width: auto;
  }
}

/* @media (min-width: 650px) {
  .modal__content {
    width: 70vw;
  }
}

@media (min-width: 700px) {
  .modal__content {
    min-width: auto;
  }
}  */