.wrapper {
  padding: 5px;
  display: flex;
  align-items: center;
  font-style: italic;
  position: sticky;
  top: 0;
  background-color: #d73343;
  color: #ffd77f;
  z-index: 300;
  transition: 0.3s;
}

.wrapper img {
  width: 30px;
  vertical-align: middle;
}

.wrapper.sticky {
  background-color: #b9b2a2;
  color: #009688;
  padding: 0px 5px 0px 5px;
}
